.flexito{
    display:flex;justify-content: center;
    text-align: start;
    flex-direction: row;
    color: black; font-weight: 700;
    font-family: cursive; 
    letter-spacing: 2px;
    font-size: 22px;
    
    text-shadow: 2px 2px 2px green;
    line-height: 35px;
}
.ul2{
 
    margin-left: 20px;
   
    
        
        padding:1px;
} 
.ul1{
   
    
}
.ul1 li{
   color: wheat;
     text-shadow: -2px -2px 2px red,
        2px 2px 2px red ;   
}
.ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;
    transform: translateY(-10px);
} 

.expander img{
  width: 100%;height: 200px;
}
.chikito{
    font-size: 14px;
}
/*----------------------------------*/
@media only screen and (max-width: 867px) {
   .ul2{
   line-height: 28px;
     margin-left: 20px;  
       transform: translateY(11px);
        
} 
    .ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;padding:1px;
} 
.ul1{
  line-height: 28px;
    
   
}
    .ul1 li
    {   border-bottom: 1px dotted red;     
}
    .social-media{
        margin-top: 20px;
         
    }
    .social-media span{
        color: whitesmoke;
       text-shadow: 1px 1px 1px red;
         background-color: black;
        padding: 5px;
        border-radius: 5px;
    }
   
}