.flexito{
    display:flex;justify-content: center;
    text-align: start;
    flex-direction: row;
    color: black; font-weight: 700;
    font-family: cursive; 
    letter-spacing: 2px;
    font-size: 22px;
    
    text-shadow: 2px 2px 2px green;
    line-height: 35px;
}
.ul2{
 
    margin-left: 20px;
   
    
        
        padding:1px;
} 
.ul1{
   
    
}
.ul1 li{
   color: wheat;
     text-shadow: -2px -2px 2px red,
        2px 2px 2px red ;   
}
.ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;
    transform: translateY(-10px);
} 

.expander img{
  width: 100%;height: 200px;
}
/*----------------------------------*/
@media only screen and (max-width: 867px) {
   .ul2{
  
       margin-top: 10px;margin-left: 20px;  
} 
    .ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;padding:1px;
} 
.ul1{
  line-height: 38px;
    
   
}
    .ul1 li
    {   border-bottom: 1px dotted red;     
}
 
}