.flexito{
    display:flex;justify-content: center;
    text-align: start;
    flex-direction: row;
    color: black; font-weight: 700;
    font-family: cursive; 
    letter-spacing: 2px;
    font-size: 25px;
    
    text-shadow: 2px 2px 2px green;
    line-height: 35px;
}
.ul2{
  transform: scale(1.3);  
    margin-top: 10px;margin-left: 20px;
} 
.ul1{
  line-height: 50px;
    transform: translateY(-40px);
}
.ul1 li{
   
}
.ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;padding:1px;
} 

.expander img{
  width: 100%;height: 200px;
}
/*----------------------------------*/
@media only screen and (max-width: 867px) {
   .ul2{
  transform: scale(1.2); 
       margin-top: 1px;margin-left: 20px;  
} 
    .ul2 li{
   background: red;border-radius: 5px;
        margin-bottom: 2px;padding:1px;
} 
.ul1{
  line-height: 46px;
    transform: translateY(-36px);
   
}
    .ul1 li
    {   border-bottom: 1px dotted red;     
}
 
}